.animate {
    animation: fadeIn ease-in-out 1.75s;
    -webkit-animation: fadeIn ease-in 1.75s;
    -moz-animation: fadeIn ease-in 1.75s;
    -o-animation: fadeIn ease-in 1.75s;
    -ms-animation: fadeIn ease-in 1.75s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
};

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
};

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
};

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
};

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
};