// Media Queries
@media (max-width: 900px) {
    .crypto-info {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "icon change24"
            "name price"
            "low24 high24"
            "symbol change1";
        gap: 50px;
    };

    header h1 {
        font-size: 9rem;
    };

    .crypto-info {
        gap: 1rem;
    };

    .name {
        justify-content: center;
        text-align: center;
    };

    .low24 {
        margin: 0 auto;
        text-align: center;
    };
};

@media (max-width: 600px) {

    header h1 {
        font-size: 6.5rem;
    };

    form fieldset {
        width: 80%
    };

    input[type="text"] {
        font-size: 1.8rem;
    };

    .suggestions li {
        font-size: 1.8rem;
    };

    .crypto-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    };

    .name {
        font-size: 3rem;
    };

    .price, .change24 {
        font-size: 2rem;
        text-align: center;
    };

    .low24, .high24 {
        font-size: 1.75rem;
        text-align: center;
    };

    .change1, .symbol {
        font-size: 1.5rem;
    };

    figure {
        max-width: 100px;
    };
};